.box {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.sidebar {
  width: 20%;
  border-left: 1px solid #000;
}

.main {
  display: flex;
  justify-content: space-around;
}

.main,
.sidebar {
  container-type: inline-size;
}

/* @media (orientation: landscape) {
  .box {
    background-color: rgb(255, 0, 0);
  }
} */

/* @media (orientation: portrait) {
  .box {
    background-color: rgb(255, 0, 0);
  }
} */

/* @media (min-aspect-ratio: 16/9) {
  .box {
    background: red;
  }
} */

/* @media (100px <=width <=300px) {
  .box {
    background-color: rgb(255, 0, 0);
  }
} */
@container (--big) {
  .box {
    background: red;
  }
}

/*
# Not Fully Supported
@custom-media --big (width >=400px);

@media (--big) {
  .box {
    background: red;
  }
} */
